<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Repositories
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="repos.length">
    <ion-item *ngFor="let repo of repos">
      <ion-thumbnail slot="start">
        <img [alt]="repo.name" [src]="repo.owner.avatar_url">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ repo.name }}</h2>
        <p>{{ repo.languaje }}</p>
        <p>{{ repo.description }}</p>
        <p>owner: {{ repo.owner.login }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <div *ngIf="!repos.length">Repositories Not founded</div>
</ion-content>
